*/__pycache__
htmlcov
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

node_modules
pretrained*
style-images
local/
output/
nst_output/
env/
env-dev/
dist/
build/
test-results/
dependency-graphs/
uml-diagrams
.circleci
.vscode
.bettercodehub.yml
.gitignore
.prospector.yml
.pylintrc

mypy.ini
package.json
package-lock.json
tox.ini
Dockerfile
