__pycache__*
\.idea
test-results
.vscode
.tox
.coverage
node_modules
package\.json
package-lock\.json
*egg-info
dist
build/
*output
uml-diagrams
dependency-graphs
coverage.xml
pydeps/

.idea/
.vscode/

*.egg-info/
*.pyc
*\.whl
*\.bak
\.fuse*
.coverage
.DS_Store
*__pycache__

docs/_build/
dist/
build/
htmlcov/

.tox/
node_modules

dependency-graphs/
test-results/
uml-diagrams/
pydoer-graphs/
