__pycache__*
\.idea
test-results
.vscode
.tox
.coverage
node_modules
package\.json
package-lock\.json
*egg-info
dist
build/
*output
uml-diagrams
dependency-graphs
coverage.xml
pydeps/

.idea/
.vscode/

*.egg-info/
*.pyc
*\.whl
*\.bak
\.fuse*
.coverage
.DS_Store
*__pycache__

docs/_build/
dist/
build/
htmlcov/

.tox/
node_modules

dependency-graphs/
test-results/
uml-diagrams/
pydoer-graphs/

# Application-specific

#notes.md#
.env


art/
art1/
business-reqs.md
content-images/
coverage-linux-3.10.xml
demo-image-noisy-iter-1-1234_v1.png
demo-image-noisy-iter-1-1234_v2.png
demo-image-noisy-iter-2.png
dep.txt
doc-notes.md

gpt-qa.md
gui-output-folder*
logs-tensorboard/
movie.mp4
notes.md
nst-algo-content/
nst-algo-style/
nst.log

pylint-result.txt
pylint.log
req-docs.txt
req.txt
reqs-alpine.txt

soft-rel.log
style-images/
tensor-logs/
site/
